body {
  font-family: Roboto, Helvetica, arial, freesans, clean, sans-serif;
  font-size: 13px;
  line-height: 1.4em;
}

h1 {
  font-weight: bold;
  font-size: 18px;
  padding: 10px 0px;
}

h2 {
  padding: 10px 0;
  font-weight: bold;
  color: #555;
  font-size: 15px;
}

.h2 {
  margin: 35px 0 20px;
  height: 0;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  border-bottom: 1px solid #ddd;
  .inner {
    display: inline-block;
    position: relative;
    top: -10px;
    padding: 0 5px;
    background: #fff;
    span {
      font-size: 12px;
      color: #999;
      font-weight: normal;
    }
  }
}

#container {
  max-width: 1024px;
  margin: 20px auto 60px;
  &:after {
    content: ' ';
    display: block;
    clear: both;
  }
}

._l {
  float: left;
}

._r {
  float: right;
}

.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
}

.relative {
  position: relative;
}

.bold {
  font-weight: bold;
}
.text-center {
  text-align: center;
}

.fa {
  font-size: 14px;
  min-width: 14px;
  text-align: center;
}

.hide {
  display: none;
}

.menu_container {
  max-width: 1024px;
  margin: 0px auto;
  img.logo {
    width: 100px;
  }
}

#content {
  width: 70%;
}

#right_side {
  width: 25%;
  margin-right: 5%;
  #profil_picture {
    border-radius: 10px;
    width: 80%;
    margin: auto;
  }
  > {
    h1 {
      color: #666;
      font-weight: normal;
      margin: 15px 0;
    }
    section {
      padding: 20px 0;
      border-top: 1px solid #eee;
      &:first-child {
        border-top: none;
      }
    }
  }
  .information div {
    margin: 5px 0;
    word-break: break-all;
  }
}

.maxH-50 {
  max-height: 50px;
  max-width: 100%;
}

.medium-2,
.medium-3,
.medium-9,
.medium-10 {
  padding: 0 5px;
  box-sizing: border-box;
}

.medium-2 {
  width: calc(( 100% / 12) * 2);
}
.medium-3 {
  width: calc(( 100% / 12) * 3);
}
.medium-9 {
  width: calc(( 100% / 12) * 9);
}
.medium-10 {
  width: calc(( 100% / 12) * 10);
}

