<!-- views/partials/head.ejs -->

<title>Front &amp; Back-end developer | Fanny Weisenburger</title>
<meta name="description" content="Fanny Weisenburger, Front &amp; Back-end developer. Works with HTML, CSS, JS, PHP, MySQL">
<meta name="keywords" content="HTML,CSS,JavaScript, PHP">
<meta name="author" content="Fanny Weisenburger">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="../css/reset.css">
<link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../css/styles.css">
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35749357-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../js/kinetic-v5.0.1.min.js"></script>
<script type="text/javascript" src="../node_modules/fastclick/lib/fastclick.js"></script>
<script type="text/javascript" src="../js/script.js"></script>