<section class="activity">
  <h1>Eurelis Activity - <a href="http://www.eurelis.com/" target="_blank" title="Eurelis">eurelis.com</a></h1>
  <section>
    <div class="h2"><div class="inner">Undisclosed</div></div>
    <div>
      <div>Subsidiary of french bank specialised on consumer credit.</div>
      <div>
        The biggest project I've worked on at Eurelis : development of static pages during 8 months for a B2B2C fully customisable website (images and colours could be adapted to another graphic chart) and a B2B website also customisable. As a lead developer on this project I was in charge of two other developers during 3 months. We performed cross-browsers and cross-devices tests and make some code review to ensure the quality of what we deliver to the client. I’m in charge of sharing files to the client and manage the project.
      </div>
      <div class="bold">
        HTML, SASS, JS, jQuery, GRUNT, Git, Foundation, handelbars, maps API, qtip2
      </div>
    </div>
    <div class="h2"><div class="inner">Galerie VU'</div></div>
    <div class="clearfix">
      <div class="_l medium-2 text-center">
        <img src="/img/galerie_vu.png" class="maxH-50">
      </div>
      <div class="_l medium-10">
        <div>Galerie VU’ is an art gallery at Paris.</div>
        <div>
          development of cross-platform application in AngularJS to display photos description when user is in front of them.
          <div>
            <a href="https://itunes.apple.com/fr/app/vu-la-galerie/id938183276?l=en&mt=8" title="galerie VU' iOS application">iOS application</a>
             - 
            <a href="https://play.google.com/store/apps/details?id=com.eurelis.mobile.vulagalerie" title="galerie VU' Android application">Android application</a>
          </div>
        </div>
        <div class="bold">
          AngularJS, Ionic, i-Beacon
        </div>
      </div>
    </div>
    <div class="h2"><div class="inner">Samsung</div></div>
    <div class="clearfix">
      <div class="_l medium-2 text-center">
        <img src="/img/samsung_logo.png" class="maxH-50">
      </div>
      <div class="_l medium-10">
        <div>
          Development of a website for a one month marketing operation. 
          It consisted on a decision tree on a fully responsive B2B website. Content evolves according to quizz answers.
          <div>
            <a href="https://www.samsung-microsites.fr/futur-collaborateur/">Operation website</a>
          </div>
        </div>
        <div class="bold">
          JS, JSON, HTML, SASS, Git, Grunt
        </div>
      </div>
    </div>
    <div class="h2"><div class="inner">maison de la radio</div></div>
    <div class="clearfix">
      <div class="_l medium-2 text-center">
        <img src="/img/mdlr.png" class="maxH-50">
      </div>
      <div class="_l medium-10">
        <div>“La maison de la radio” is a cultural institution.</div>
        <div>
          I was in charge of developing pages for large screen  (landscape &amp; portrait)
          <div>
            <a href="http://www.maisondelaradio.fr/" title="maison de la radio">Maison de la radio</a>
          </div>
        </div>
        <div class="bold">
          Drupal, Javascript, HTML, CSS, Git
        </div>
      </div>
    </div>
    <div class="h2"><div class="inner">Illicado</div></div>
    <div class="clearfix">
      <div class="_l medium-2 text-center">
        <img src="/img/logo_illicado.png" class="maxH-50">
      </div>
      <div class="_l medium-10">
        <div>Illicado is a multi banners gift cards provider.</div>
        <div>
          I’ve worked on the redesign and responsive adaptation of the website.
          <div>
            <a href="http://www.illicado.com/" title="Illicado">Illicado</a>
          </div>
        </div>
        <div class="bold">
          Magento, HTML, CSS, svn
        </div>
      </div>
    </div>
    <div class="h2"><div class="inner">Expasia</div></div>
    <div>
      <div>Expasia (Asia Talent Summit) is an HR event in Asia. It aims to gather industry leaders and professionals educated and committed to excellence.</div>
      <div>
        I’ve developed the front end of this event website
      </div>
      <div class="bold">
        Drupal, HTML, CSS, svn
      </div>
    </div>
    
    <div class="h2"><div class="inner">Saft</div></div>
    <div class="clearfix">
      <div class="_l medium-2 text-center">
        <img src="/img/saft_logo.png" class="maxH-50">
      </div>
      <div class="_l medium-10">
        <div>Saft is the worldwide leader for high technology batteries.</div>
        <div>
          development of a website for batteries management 
        </div>
        <div class="bold">
          HTML, CSS, JS, Google Graph
        </div>
      </div>
    </div>
    
    <div class="h2"><div class="inner">Colissimo</div></div>
    <div class="clearfix">
      <div class="_l medium-2 text-center">
        <img src="/img/colissimo_logo.png" class="maxH-50">
      </div>
      <div class="_l medium-10">
        <div>French Postal delivery service for consumers</div>
        <div>
          development of responsive newsletters modules and 3 responsive newsletters.
        </div>
        <div class="bold">
          HTML, CSS
        </div>
      </div>
    </div>

    

  </section>
</section>