<div class="bloc_container">
  <section class="_l _small bloc">
    <h2>Popular repositories</h2>
    <ul>
      <li><a href="/kineticJS" target="_blank" class="icone_btn" title="circle's animation"><i class="fa fa-book"></i><span class="repo">Circle's animation</span><div class="description">JavaScript animation</div></a></li>
      <li><a href="https://github.com/roxyska/FileManager/" target="_blank" class="icone_btn" title="Filemanager"><i class="fa fa-book"></i><span class="repo">Filemanager</span><div class="description">Filemanager in PHP</div></a></li>
    </ul>
  </section>
  <section class="_r _small bloc">
    <h2>Repositories contributed to</h2>
    <ul>
      <li><a href="/eurelis" class="icone_btn" title="Eurelis"><i class="fa fa-group"></i><span class="repo">Eurelis</span><div class="description">CDI - Front-End Developer</div></a></li>
      <li><a href="http://www.meltygroup.com/" target="_blank" class="icone_btn" title="MeltyGroup"><i class="fa fa-group"></i><span class="repo">MeltyGroup</span><div class="description">3rd year internship</div></a></li>
      <li><a href="http://www.soonvibes.com/" target="_blank" class="icone_btn" title="Soonvibes"><i class="fa fa-group"></i><span class="repo">Soonvibes</span><div class="description">2nd year internship</div></a></li>
      <li><a href="http://www.ruedelapaix.com/" target="_blank" class="icone_btn" title="Yakota"><i class="fa fa-group"></i><span class="repo">Yakota</span><div class="description">1st year internship</div></a></li>
      <li><a href="http://www.supinternet.fr/" target="_blank" class="icone_btn" title="Sup'Internet"><i class="fa fa-group"></i><span class="repo">Sup'Internet</span><div class="description">Graduate school of Web technologies</div></a></li>
    </ul>
  </section>
</div>
<section class="bloc">
  <h2>Your Contributions</h2>

    <div class="popularRepoContainer">
      <div id="canvasContainer" style="max-width:100%; overflow:hidden;cursor:move;">
        <canvas id="popularRepositories" width="1000" height="170">
        </canvas>
        <ul>
          <!-- SUP'INTERNET -->
          <li class="commitList hide" id="sup-internet">
            <img src="../img/profil.jpg" id="profil_picture" alt="Fanny Weisenburger" width="50">
            <span>
              <span class="bold">Sup'internet</span><br>
              Development and web technologies bachelor
            </span>
            <span class="date">2011 - 2014</span>
          </li>
          <li class="commitList hide" id="html-css">
            <img src="../img/profil.jpg" id="profil_picture" alt="Fanny Weisenburger" width="50">
            <span>
              <span class="bold">HTML/CSS</span><br>
              During my three years at Sup'Internet, I've learned and practiced HTML and CSS.
            </span>
            <span class="date">2011 - 2014</span>
          </li>
          <li class="commitList hide" id="php-mysql">
            <img src="../img/profil.jpg" id="profil_picture" alt="Fanny Weisenburger" width="50">
            <span>
              <span class="bold">PHP/MySQL</span><br>
              I've learned PHP with facultative courses at Sup'Internet and it permitted me to switch between the WebDesign and the Web Development Bachelor. I've continued to learn and practice PHP and MySQL during the next two years at Sup'Internet and during my several interships.
            </span>
            <span class="date">2011 - 2014</span>
          </li>
          <li class="commitList hide" id="webdesign">
            <img src="../img/profil.jpg" id="profil_picture" alt="Fanny Weisenburger" width="50">
            <span>
              <span class="bold">Webdesign</span><br>
              During the first year at Sup'Internet I was on the WebDesign Bachelor. I've learned to use Photoshop and Illustrator and front-end development.
            </span>
            <span class="date">2011 - 2014</span>
          </li>
          <li class="commitList hide" id="js-jquery">
            <img src="../img/profil.jpg" id="profil_picture" alt="Fanny Weisenburger" width="50">
            <span>
              <span class="bold">JS/jQuery</span><br>
              I began to really develop in JS and jQuery during the second year of Sup'Internet and since then, I never stopped progressing on these technologies.
            </span>
            <span class="date">2011 - 2014</span>
          </li>
          <li class="commitList hide" id="cSharp-dotNet">
            <img src="../img/profil.jpg" id="profil_picture" alt="Fanny Weisenburger" width="50">
            <span>
              <span class="bold">C#/.Net</span><br>
              During the 2nd year of Sup'Internet I learned the basics of C# and .Net.
            </span>
            <span class="date">2011 - 2014</span>
          </li>
          <!-- SOONVIBES -->
          <li class="commitList hide" id="soonvibes">
            <img src="../img/profil.jpg" id="profil_picture" alt="Fanny Weisenburger" width="50">
            <span>
              <span class="bold">Soonvibes</span><br>
              During my second year of Sup'Internet I did an intership at Soonvibes. Soonvibes is a young Startup specialised in electronic music. It allows DJs to post their tracks on the website and receive feedback.
            </span>
            <span class="date">2013</span>
          </li>
          <li class="commitList hide" id="zend">
            <img src="../img/profil.jpg" id="profil_picture" alt="Fanny Weisenburger" width="50">
            <span>
              <span class="bold">Zend</span><br>
              Soonvibes is developed with the Zend Framework. I only used it once before this and I learned many things on PHP and object development thanks to it.
            </span>
            <span class="date">2013</span>
          </li>
          <li class="commitList hide" id="html-css-soonvibes">
            <img src="../img/profil.jpg" id="profil_picture" alt="Fanny Weisenburger" width="50">
            <span>
              <span class="bold">HTML5/CSS3</span><br>
              I was able to apply things I've learnt at school. At the end of my internship we've released the V1 of Soonvibes which consisted in a really huge redesign.
            </span>
            <span class="date">2013</span>
          </li>
          <li class="commitList hide" id="js-jquery-soonvibes">
            <img src="../img/profil.jpg" id="profil_picture" alt="Fanny Weisenburger" width="50">
            <span>
              <span class="bold">JS/jQuery</span><br>
              Soonvibes' website became totally Ajax loaded because we added an audio player at the bottom of the website. This was my first experience with Ajax.
            </span>
            <span class="date">2013</span>
          </li>
          <!-- MELTY -->
          <li class="commitList hide" id="melty">
            <img src="../img/profil.jpg" id="profil_picture" alt="Fanny Weisenburger" width="50">
            <span>
              <span class="bold">Melty</span><br>
              Meltygroup is the first online media group for young people in France (more than 15 millions readers by month). I was in an internship at Melty as a front-end and back-end developer during 9 months in my third year at Sup'Internet.
            </span>
            <span class="date">2013 - 2014</span>
          </li>
          <li class="commitList hide" id="js-jquery-melty">
            <img src="../img/profil.jpg" id="profil_picture" alt="Fanny Weisenburger" width="50">
            <span>
              <span class="bold">JS/jQuery</span><br>
              I developed in Javascript and jQuery for responsive design and animations that we cannot do in CSS. I used it mainly for statistics graphs.
            </span>
            <span class="date">2013 - 2014</span>
          </li>
          <li class="commitList hide" id="html-css-melty">
            <img src="../img/profil.jpg" id="profil_picture" alt="Fanny Weisenburger" width="50">
            <span>
              <span class="bold">HTML5/CSS3/SASS</span><br>
              MeltyGroup is a huge galaxy of websites. We used SASS to decline fastly the main website in a secondary website.
            </span>
            <span class="date">2013 - 2014</span>
          </li>
          <li class="commitList hide" id="php-mysql-melty">
            <img src="../img/profil.jpg" id="profil_picture" alt="Fanny Weisenburger" width="50">
            <span>
              <span class="bold">PHP/MySQL</span><br>
              Meltygroug websites are developed under a "home-made framework" based on the Zend Framework.
            </span>
            <span class="date">2013 - 2014</span>
          </li>
          <!-- EURELIS -->
          <li class="commitList hide" id="Eurelis">
            <img src="../img/profil.jpg" id="profil_picture" alt="Fanny Weisenburger" width="50">
            <span>
              <span class="bold">Eurelis</span><br>
              I'm currently a front-end developer at Eurelis (a French web agency).
            </span>
            <span class="date">2014 - 2015</span>
          </li>
          <li class="commitList hide" id="js-jquery-eurelis">
            <img src="../img/profil.jpg" id="profil_picture" alt="Fanny Weisenburger" width="50">
            <span>
              <span class="bold">JS/jQuery</span><br>
              As a front end developer I'm often asked to develop with JS and jQuery. I've worked a lot with the Google maps API and the Google graph API.
            </span>
            <span class="date">2014 - 2015</span>
          </li>
          <li class="commitList hide" id="angularJS">
            <img src="../img/profil.jpg" id="profil_picture" alt="Fanny Weisenburger" width="50">
            <span>
              <span class="bold">AngularJS</span><br>
              At Eurelis I had 2 trainings on AngularJS and I had to develop an application for an art gallery.
            </span>
            <span class="date">2014 - 2015</span>
          </li>
          <li class="commitList hide" id="html-css-eurelis">
            <img src="../img/profil.jpg" id="profil_picture" alt="Fanny Weisenburger" width="50">
            <span>
              <span class="bold">SASS/Foundation</span><br>
              HTML5 / CSS3 and Sass / Foundation development
            </span>
            <span class="date">2014 - 2015</span>
          </li>
          <li class="commitList hide" id="drupal-magento">
            <img src="../img/profil.jpg" id="profil_picture" alt="Fanny Weisenburger" width="50">
            <span>
              <span class="bold">Drupal/Magento</span><br>
              On some projects (like Expasia or Illicado) I was led to work with Drupal and Magento.
            </span>
            <span class="date">2014 - 2015</span>
          </li>
        </ul>
      </div>
      
    </div>
    <div class="tips clearfix">
      <i class="fa fa-question-circle"></i><span>to know more, hover circles</span>

      <i class="fa fa-arrows _r bigIcon"></i>
    </div>

</section>

<section class="activity">
  <h1>Contribution Activity</h1>
  <a href="../files/CV-FannyWeisenburger.pdf" target="_blank" title="download CV in PDF format" class="icone_btn btn"><i class="fa fa-download"></i>download CV</a>
  <section>
    <div class="h2"><div class="inner">Eurelis <span> - From 01/01/2014</span></div></div>
    <div>
      <div>Eurelis is a Web Agency. (<a href="/eurelis" title="Eurelis projects">Desciption of projects on which I've worked on</a>)</div>
      <div>
        Front-end developer, Development of websites with some frameworks or CMS (in particular with Symfony and Drupal) and crossplatform applications (with Angular). Use of HTML, CSS, JS/JQuery, Angular, Responsive WebDesign, Foundation, Grunt.
      </div>
      <div>
        I've worked on several type of projects from little mobile apps to high traffic websites. For example I've worked on the redesign of <a href="http://illicado.com">Illicado</a> in responsive design, or on the development of a new site for a subsidiary of french bank specialised on consumer credit. I also worked on a mobile app for an Art Gallery as part of a photographic exposure <a href="https://itunes.apple.com/fr/app/vu-la-galerie/id938183276?l=en&mt=8">Galerie VU' - iOS</a>, <a href="https://play.google.com/store/apps/details?id=com.eurelis.mobile.vulagalerie">Galerie VU' - Android</a>
      </div>
    </div>

    <div class="h2"><div class="inner">MeltyGroup <span> - From 01/10/2013 to 30/06/2014</span></div></div>
    <div>
      <div>Meltygroup is the first online media group for young people. (more than 15 millions readers by month)</div>
      <div>
        Front and Back-end developer, Maintenance of the websites of the group. Administration and statistics platform development for editorial teams on home-made framework called "Shape". Use of HTML, CSS, JS/JQuery, PHP, MySQL, Responsive WebDesign.
      </div>
    </div>

    <div class="h2"><div class="inner">Soonvibes <span> - From 15/02/2013 to 15/05/2013</span></div></div>
    <div>
      <div>Soonvibes is a young Startup specialised on electronic music. It permits DJs to post their tracks on the website and to receive some feedback on it.</div>
      <div>
        Front and Back-end developer. V1 of the website <a href="soonvibes.com" title="soonvibes">soonvibes.com</a> and generic ajax pagination module development. Technologies: HTML, CSS, JS, PHP, MySQL, SVN, Zend Framework.
      </div>
    </div>

    <div class="h2"><div class="inner">Yakota <span> - From 01/06/2012 to 30/09/2012</span></div></div>
    <div>
      <div>Yakota is a company specialised in online jewellery selling (diamond).</div>
      <div>
        Web developer, Maintenance of the websites of the group. Integration of designs made in photoshop. Newsletter development. Use of HTML, CSS, JS, Zend Framework.
      </div>
    </div>
  </section>
</section>
